@-webkit-keyframes blink-failure {
  from { -webkit-transform: scale(1.2,1.2); }
  to { -webkit-transform: scale(1,1); }
}

@-webkit-keyframes rotate-names {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg);  }
}

@-webkit-keyframes blink-building {
  from { fill: orange; -webkit-transform: scale(1,1);}
  to { fill: yellow; -webkit-transform: scale(1.5,1.5); }
}

.node {
  stroke-width: 1px;
}
.last {
  stroke-width: 5px;
  stroke: green;
}
.link {
  stroke: #eee;
  stroke-width: 5px;
  stroke-opacity: .3;
}
.nodetext {
  fill: white;
  stroke: #999;
  pointer-events: none;
  font: 16px sans-serif;
  -webkit-transform: rotate(40deg);
}

.building {
  -webkit-animation: blink-building 1s linear 0s infinite alternate;
}

.failure {
  -webkit-animation: blink-failure 1s linear 0s infinite alternate;
}
