body {
  margin:0px;
  font-family:verdana;
  background: black;
  background: -webkit-radial-gradient(circle, #000, #333);
  color: white;
}

#graph {
  display: inline-block;
  float: left;
}

#sidebar {
  display: inline-block;
  float: left;
}

@-webkit-keyframes blink
{
  from { fill: transparent; }
  to { fill: yellow; }
}

.blue_anime {
  -webkit-animation: blink 1s linear 2s infinite alternate;
}
.red_anime {
  -webkit-animation: blink 1s linear 2s infinite alternate;
}
