<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>

    <title>Lohengrin</title>

    <link rel='stylesheet' href='/lohengrin/stylesheets/css/main.css' />

    <script src="/external/js/jquery-v2.0.0-pre.js"></script>
    <script src="/external/js/lodash.js"></script>
    <script src="/external/js/d3.v3.js"></script>

    <script src="/lohengrin/js/util.js"></script>
    <script src="/lohengrin/js/build.js"></script>
    <script src="/lohengrin/js/job.js"></script>
    <script src="/lohengrin/js/jenkins.js"></script>
    <script src="/lohengrin/js/d3-renderer.js"></script>
    <script src="/lohengrin/js/sidebar.js"></script>
    <script src="/lohengrin/js/lohengrin.js"></script>
    <script src="/lohengrin/js/app.js"></script>
  </head>
  <body>
    <div id="graph"></div>
    <div id="sidebar"></div>
  </body>
</html>
